/* vietnamese */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(http://fonts.gstatic.com/s/muli/v10/Ul00HI23GehQ9qPsH_7ocQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(http://fonts.gstatic.com/s/muli/v10/jbCPU7JDvi-y7oVFF-ztAg.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli Regular'), local('Muli-Regular'), url(http://fonts.gstatic.com/s/muli/v10/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#tabpanel .tabmenu .site_tree .sitelevel .dropopen:hover i {
	-moz-text-shadow: 0 0 6px rgba(255, 255, 255, .84);
	-webkit-text-shadow: 0 0 6px rgba(255, 255, 255, .84);
	text-shadow: 0 0 6px rgba(255, 255, 255, .84)
}
#tabpanel .tabmenu .site_tree .tabsearch .tabsub:hover {
	/*color: #fff;*/
	-moz-text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
	-webkit-text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
.sadd {
	color: #f6ab09;
	background-color: rgba(190, 120, 10, 0.98);
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size:16px;
}
body {
	font-family: "Muli", "Microsoft Yahei", 'Arial,sans-serif', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
.animate250 {
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
a:link, a:visited {
	text-decoration: none;
	color: inherit;
}
.wintile {
	/*display: block;*/
	width: 100%;
	height: 100%;
}
/*侧边栏整体*/
#tabpanel {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	font-style: normal;
	box-sizing: border-box;
	z-index: 999;
}
/*关闭*/
#tabpanel .tabclose {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.75em;
	height: 3.75em;
	line-height: 3.75em;
	z-index: 110;
}
#tabpanel .tabclose i {
	position: absolute;
	left: 50%;
	margin-left: -0.5em;
	font-size: 2em;
	font-weight: lighter;
	cursor: pointer;
}
#tabpanel .tabclose i:hover {
	font-weight: 600;
	-moz-text-shadow: 0 0 20px rgba(255, 255, 255, 1);
	-webkit-text-shadow: 0 0 20px rgba(255, 255, 255, 1);
	text-shadow: 0 0 20px rgba(255, 255, 255, 1);
	-moz-transform: scale(1.2) rotate(90deg);
	-webkit-transform: scale(1.2) rotate(90deg);
	-o-transform: scale(1.2) rotate(90deg);
	transform: scale(1.2) rotate(90deg);
}
/*标签列表部分*/
#tabpanel .tablist {
	position: absolute;
	top: 5em;
	right: 25em;
	width: 10.625em;
	z-index: 100;
}
#tabpanel .tablist ul {
	width: inherit;
	list-style: none;
}
#tabpanel .tablist ul li {
	position: relative;
	float: left;
	width: inherit;
	height: 2.75em;
	margin-bottom: 0.625em;
	cursor: pointer;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tablist ul li:hover {
	margin-left: -0.625em;
	width: 11.25em;
}
#tabpanel .tablist ul li:hover a {
	font-weight: 400;
}
#tabpanel .tablist ul li a {
	display: block;
	padding: 0.75em 0;
	font-size: 1em;
	height: 1.25em;
	line-height: 1.25em;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#tabpanel .tablist ul li a i {
	margin: 0 0.625em;
}
/*标签操作部分*/
#tabpanel .tabactions {
	position: absolute;
	top: 15.5em;
	right: 25em;
	width: 7.5em;
	z-index: 100;
}
#tabpanel .tabactions ul {
	width: inherit;
	list-style: none;
}
#tabpanel .tabactions ul li {
	position: relative;
	float: left;
	width: inherit;
	line-height: 0.875em;
	padding: 1em 0;
	font-size: 0.75em;
	text-indent: 1em;
	margin-bottom: 0.625em;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabactions ul li:hover {
	margin-left: -0.7em;
	width: 11em;
}
/*菜单整体*/
#tabpanel .tabmenu {
	position: absolute;
	width: 17.5em;
	/*height: -moz-calc(100% - 7.5em);*/
	/*height: -webkit-calc(100% - 7.5em);*/
	/*height: calc(100% - 7.5em);*/
	height: auto;
	padding: 3.75em;
	z-index: 101;
	overflow: hidden;
}
/*每部分菜单内容*/
#tabpanel .tabmenu .site_tree {
	display: none;
	width: inherit;
	height: auto;
}
#tabpanel .tabmenu .site_tree ul {
	position: relative;
	float: left;
	width: inherit;
}
#tabpanel .tabmenu .site_tree li.sitelevel {
	position: relative;
	float: left;
	border-bottom: .125em solid;
	margin-bottom: 0;
	list-style: none;
	width: inherit;
	line-height: 2.5em;
	cursor: pointer;
}
#tabpanel .tabmenu .site_tree li.sitelevel:first-child {
	border-top: .125em solid;
	margin-top: 0 !important;
}
#tabpanel .tabmenu .site_tree .sitelevel .droptit {
	position: relative;
	float: left;
	width: 13.3333333em;
	font-size: 1.125em;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabmenu .site_tree .sitelevel .droptit:hover {
	text-indent: 1.2em;
}
/*下拉按钮*/
#tabpanel .tabmenu .site_tree .sitelevel .dropopen {
	display: block;
	position: relative;
	float: right;
	width: 2.5em;
	height: 2.5em;
	text-align: center;
	text-decoration: none;
}
#tabpanel .tabmenu .site_tree .sitelevel .dropopen i {
	width: inherit;
	height: inherit;
	font-size: 1.5em;
}
#tabpanel .tabmenu .site_tree .sitelevel .dropopen:hover i {
	cursor: pointer;
	-moz-text-shadow: 0 0 6px rgba(255, 255, 255, .84);
	-webkit-text-shadow: 0 0 6px rgba(255, 255, 255, .84);
	text-shadow: 0 0 6px rgba(255, 255, 255, .84)
}
/*下拉菜单*/
#tabpanel .tabmenu .site_tree .sitelevel .dropmenu {
	position: relative;
	float: left;
	width: inherit;
	max-height: 0;
	overflow: hidden;
	list-style: none;
}
#tabpanel .tabmenu .site_tree .sitelevel .dropmenu li {
	float: left;
	width: inherit;
}
#tabpanel .tabmenu .site_tree .sitelevel .dropmenu li a {
	display: block;
	text-decoration: none;
	width: -moz-calc(100% - 1.75em);
	width: -webkit-calc(100% - 1.75em);
	width: calc(100% - 1.75em);
	padding: 0.625em 0;
	margin-left: 1.75em;
	line-height: 100%;
	font-size: 0.875em;
	border-top: .125em solid;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabmenu .site_tree .sitelevel .dropmenu li a:hover {
	text-indent: 1em;
}
/*菜单内容下方链接*/
#tabpanel .tabmenu .site_tree .tab_links {
	position: relative;
	float: left;
	width: inherit;
	padding-top: 1.25em;
}
#tabpanel .tabmenu .site_tree .tab_links li {
	width: inherit;
}
#tabpanel .tabmenu .site_tree .tab_links li a {
	display: block;
	padding: 0.625em 0;
	font-size: 0.875em;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabmenu .site_tree .tab_links li a:hover {
	text-indent: 1em;
}
/*搜索模块*/
#tabpanel .tabmenu .site_tree .tabsearch {
	position: relative;
	width: inherit;
	list-style: none;
}
#tabpanel .tabmenu .site_tree .tabsearch .tabipt {
	width: -moz-calc(100% - 3.75em);
	width: -webkit-calc(100% - 3.75em);
	width: calc(100% - 3.75em);
	height: 1.5em;
	padding: 0.625em 1.875em 0.625em 0.625em;
	margin: 0.5em;
	font-size: 1.25em;
	border: none;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	outline: none;
}
#tabpanel .tabmenu .site_tree .tabsearch .searchempty {
	position: absolute;
	right: 1em;
	top: 1.75em;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabmenu .site_tree .tabsearch .searchempty:hover {
	font-weight: 900;
	-moz-transform: scale(1.06);
	-webkit-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}
#tabpanel .tabmenu .site_tree .tabsearch .tabsub {
	position: relative;
	width: calc(100% - 1em);
	height: 2.5em;
	padding: 0.5em 0;
	margin: 0 0.5em 0.5em 0.5em;
	font-size: 1.25em;
	background-color: #2c2c33;
	border: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	-webkit-transition: ease-in-out 250ms;
	-moz-transition: ease-in-out 250ms;
	-o-transition: ease-in-out 250ms;
	transition: ease-in-out 250ms;
}
#tabpanel .tabmenu .site_tree .tabsearch .tabsub i {
	position: absolute;
	font-size: 1em;
	top: 50%;
	margin-top: -0.8em;
	margin-left: -1.2em;
}
#tabpanel .tabmenu .site_tree .tabsearch .tabsub:hover {
	-moz-text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
	-webkit-text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
#tabpanel .tabmenu .site_tree .tabsearch .tabsub:hover i {
	-moz-transform: scale(1.06);
	-webkit-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}












